<h1>{{"Heroes" |uppercase}}</h1>
<hr />
<div class="container m-5">
  <div class="card-columns">
    <app-card
      [titleCard]="item.name"
      [bioCard]="item.bio"
      [appearCard]="item.appear"
      [imgCard]="item.img"
      [i]="item.id"
      (showDetailCard)="reciveOutPut($event)"
      *ngFor="let item of listHeroes; let i = index"
    >
    </app-card>
  </div>
</div>
