<div class="container m-5">
  <div class="row">
    <div class="col">
      <h1>*ngIf</h1>

      <div class="card" style="width: 100%;">
        <h5 class="card-title">{{"How to use ngIf in Angular"| myPipe}}</h5>

        <div *ngIf="isEnable" class="card-body">
          <p>
            Information on card to show and hidde consider de clic action :
            123,21387
          </p>
          <p>Apply pipe > slice:3:20</p>
          <p>
            {{ "Information on card to show and hidde conside" | slice: 3:20 }}
          </p>
          <p>Apply pipe > number:'.0-2'</p>
          <p>{{ "123.21387" | number: ".0-2" }}</p>
        </div>
      </div>
      <button
        class="btn btn-outline-primary btn-block"
        (click)="actionButton()"
      >
        Show / Hidde
      </button>
    </div>

    <div class="col">
      <h1>*ngFor</h1>
      <ul class="list-group">
        <li
          *ngFor="let item of listData; let i = index"
          class="list-group-item"
        >
          {{ i + 1 }} -{{ item }}
        </li>
      </ul>
    </div>
  </div>
</div>
