<header class="header">
  <h1>ToDos</h1>
  <input
    class="new-todo"
    placeholder="What needs to be done?"
    autofocus
    [formControl]="txtInputParam"
    (keyup.enter)="addItem();"
  />
</header>
