<h1>BUSCADOR</h1>
<hr />
<div class="row" *ngIf="!hadData">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen elementos en la busqueda
    </div>
  </div>
</div>

<div class="container m-5">
  <div class="card-columns">
    <app-card
      [titleCard]="item.name"
      [bioCard]="item.bio"
      [appearCard]="item.appear"
      [imgCard]="item.img"
      [i]="item.id"
      (showDetailCard)="reciveOutPut($event)"
      *ngFor="let item of searchHero; let i = index"
    >
    </app-card>
  </div>
</div>
