<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of budgetData | orderItems">
              <td>{{ item.description }}</td>
              <td>{{ item.amount | currency }}</td>
              <td
                [class.text-success]="item.type === 'ingreso'"
                [class.text-danger]="item.type === 'egreso'"
              >
                {{ item.type | titlecase }}
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="eraseItem(item.id)"
                >
                  <i class="fa fa-trash"></i>Eraser
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
