﻿<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary" style="width:100%"> Create</button>
        &nbsp;
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success" style="width:100%"> Return</a>
    </div>
</div>