<div class="alert alert-info text-center" role="alert" *ngIf="loading">
  <h4 class="alert-heading">...Loading...</h4>
  <p class="mb-0"></p>
</div>

<div class="alert alert-danger text-center" role="alert" *ngIf="error">
  <h4 class="alert-heading">{{ error.name }}</h4>
  <p>{{ error.message }}</p>
  <p class="mb-0"></p>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-4">
    <img [src]="userWeb.avatar" alt="avatar" class="img-thumbnail" />
  </div>

  <div class="col">
    <ul class="list-group">
      <li class="list-group-item"><b>Name: </b>{{ userWeb.first_name }}</li>
      <li class="list-group-item"><b>Last name: </b>{{ userWeb.last_name }}</li>
      <li class="list-group-item"><b>ID: </b>{{ userWeb.id }}</li>
    </ul>
  </div>
</div>
