<!-- These are here just to show the structure of the list items -->
<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
<li [class.completed]="paramTodo.complet" [class.editing]="isEdit">
  <div class="view">
    <input class="toggle" type="checkbox" [formControl]="chCompleted" />
    <label (dblclick)="editItem()">{{ paramTodo.text }}</label>
    <button class="destroy" (click)="delItem()"></button>
  </div>
  <input class="edit" [formControl]="txtInput" type="text" #refInput (blur)="blurFoco()"/>
</li>
