﻿@model BlogCore.Models.ViewModels.ItemVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h3 class="text-center"> Create new item</h3>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            @*Name*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Item.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Item.Name" class="form-control" />
                    <span asp-validation-for="Item.Name" class="text-danger"></span>
                </div>
            </div>
            <br />
            @*Description*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Item.Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Item.Description" class="form-control" style="height:50px;"></textarea>
                    <span asp-validation-for="Item.Description" class="text-danger"></span>
                </div>
            </div>
            <br />
            @*LstCategory*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Item.IdCategory"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(l =>
                        l.Item.IdCategory,
                        Model.lstCategories,
                        "- Select one category -",
                        new { @class = "form-control" }
                        )
                </div>
            </div>
            <br />
            @*UrlImage*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Item.UrlImage"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="fileImage" id="uploadFile" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <partial name="ViewCreateReturnPartial" />
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/2jimjr4j43g8n6gjstxfsg01djmpxonj2tjghrlckwi7kknr/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
    </script>
}
