﻿@model BlogCore.Models.ViewModels.ItemVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 class="text-center"> Edit item</h3>
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Item.Id" />
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
            @*Name*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Item.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Item.Name" class="form-control" />
                    <span asp-validation-for="Item.Name" class="text-danger"></span>
                </div>
            </div>
            <br />
            @*Description*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Item.Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Item.Description" class="form-control" style="height:50px;"></textarea>
                    <span asp-validation-for="Item.Description" class="text-danger"></span>
                </div>
            </div>
            <br />
            @*LstCategory*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Item.IdCategory"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(l =>
                        l.Item.IdCategory,
                        Model.lstCategories,
                        "- Select one category -",
                        new { @class = "form-control" }
                        )
                </div>
            </div>
            <br />
            @*UrlImage*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Item.UrlImage"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="fileImage" id="uploadFile" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary" asp-route-id="@Model.Item.Id" style="width:100%"> Update </button>
                            &nbsp;
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success" style="width:100%"> Return</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3">
            <img src="@Model.Item.UrlImage" width="80%" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    </div>
</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/2jimjr4j43g8n6gjstxfsg01djmpxonj2tjghrlckwi7kknr/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
    </script>
}
