﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary"> List of items</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create new item</a>
        </div>
    </div>
    <br />
    <br />
    <table id="tblItem" class="table table-striped table-bordered" style="width:100%;">
        <thead>
            <tr>
                <th style="width: 5%;">Id</th>
                <th style="width: 20%;">Name</th>
                <th style="width: 20%;">Category</th>
                <th style="width: 15%;">Date</th>
                <th style="width: 30%;">Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/item.js"></script>
}

