<div class="card animated fadeIn fast">
  <img class="card-img-top img-fluid" [src]="imgCard" [alt]="titleCard" />
  <div class="card-block">
    <h4 class="card-tittle">
      {{ titleCard }}
    </h4>
    <p class="card-text">{{ bioCard }}</p>
    <p class="card-text">
      <small class="text-muted"> {{ appearCard | date:'dd - MMMM - yyyy'}}</small>
    </p>

    <button class="btn btn-outline-primary" (click)="showDetail()">
      Show details !
    </button>
  </div>
</div>
