* {
  font-family: Helvetica, Arial, sans-serif;
}

body{
  padding: 10%;
}

input {
  font-size: 1.2rem;
  color: gray;
  width: 100%;
}

.card {
  align-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}