﻿@model BlogCore.Models.Category
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h3 class="text-center"> Edit Category</h3>
<form method="post" asp-action="Edit">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="col-10 offset-1 mt-4">
            @*Name*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <br />
            @*Order*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Order"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Order" class="form-control" />
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary" asp-route-id="@Model.Id" style="width:100%"> Update </button>
                            &nbsp;
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success" style="width:100%"> Return</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>