﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary"> List of categories</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create new category</a>
        </div>
    </div>
    <br />
    <br />
    <table id="tblCategories" class="table table-striped table-bordered" style="width:100%;">
        <thead>
            <tr>
                <th style="width: 5%;">Id</th>
                <th style="width: 50%;">Name</th>
                <th style="width: 20%;">Order</th>
                <th style="width: 25%;">Actions </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/category.js"></script>
}