<h1>Profile</h1>
<hr />

<form (ngSubmit)="eventoBtn()">
  <div class="form-group col-md-6">
    <label for="nickname">Nickname:</label>
    <input
      class="form-control"
      type="text"
      [value]="profileLogued.nickname"
      name="nickname"
      [(ngModel)]="profileLogued.nickname"
    />
  </div>
  <div class="form-group col-md-6">
    <label for="sub">Sub:</label>
    <input
      class="form-control"
      type="text"
      [value]="profileLogued.sub"
      name="sub"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="name">Name</label>
    <input
      class="form-control"
      type="text"
      [value]="profileLogued.name"
      name="name"
      [(ngModel)]="profileLogued.name"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="picture">Picture</label>
    <img [src]="profileLogued.picture" />
  </div>

  <div class="form-group col-md-6">
    <label for="updateAt">Updated At</label>
    <input
      class="form-control"
      type="text"
      [value]="profileLogued.updated_at"
      name="updated_at"
      [(ngModel)]="profileLogued.updated_at"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="email">Email</label>
    <input
      class="form-control"
      type="text"
      [value]="profileLogued.email"
      name="email"
      [(ngModel)]="profileLogued.email"
    />
  </div>

  <div class="form-group col-md-6">
    <label for="emailVerified">Email Verified</label>
    <input
      class="form-control"
      type="text"
      [value]="profileLogued.email_verified"
      name="email_verified"
      [(ngModel)]="profileLogued.email_verified"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
