<div class="row text-center">
  <div class="col">
    <h1>Second</h1>
    <h2> A pie: {{ paramTwo }}</h2>
    <h2> Ngrx: {{ ngOperation }}</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button type="button" (click)="reset()" class="btn btn-dark mr-1">
      Reset
    </button>
    <button type="button" (click)="rs()" class="btn btn-light mr-1">Reducer reset</button>
  </div>
</div>
