<app-div-error *ngIf="error" [message]="errorMessage"></app-div-error>

<div class="row">
  <div class="col">
    <input
      #textWrote
      type="text"
      (keyup)="search(textWrote.value)"
      class="form-control"
      placeholder="Search artist"
    />
  </div>
</div>

<app-loading *ngIf="loading" class="card-columns m-5"></app-loading>

<div class="card-columns m-5">
  <app-spoti-card
    *ngFor="let item of artists"
    [titleCard]="item.name"
    [imgCard]="item.images | validateImage"
    [bodyCard]="item.artists"
    [idArtist]="item | idArtist"
  ></app-spoti-card>
</div>
