body {
  background-color: black;
  padding-bottom: 50px;
  
}

/* You can add global styles to this file, and also import other style files */
footer {
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  
}

.puntero {
  cursor: pointer;
}
.img-circle {
  border-radius: 100%;
  width: 150px;
}

.img-logo {
  width: 120px;
}

.img-thumb{
width: 50px;
height: 50px;
}

/* animaciones para cargar contenido web*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
