html,body {
    background-color:blue;
    color:aliceblue;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
};

button {
    font-size: 2rem;
    padding: 10px;
    margin-right: 10px;
}