<h1 class="animated fadeIn">
  {{ hereoDetail.name | uppercase }}
  <small>({{ hereoDetail.appear | date: "y" }})</small>
</h1>
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="hereoDetail.img" class="img-fluid" [alt]="hereoDetail.name" />
    <br /><br />
    <a [routerLink]="['secondOne']" class="btn btn-outline-danger">
      Come back</a
    >
  </div>

  <div class="col-md-8">
    <h3>{{ hereoDetail.name }}</h3>
    <hr />
    <p>{{ hereoDetail.bio }}</p>
    <div>
      <img
        *ngIf="hereoDetail.home == 'DC'"
        src="assets/img/DC.png"
        class="img-logo"
        alt=""
      />
      <img
        *ngIf="hereoDetail.home == 'Marvel'"
        src="assets/img/Marvel.png"
        class="img-logo"
        alt=""
      />
    </div>
  </div>
</div>
