<button
  type="button"
  class="btn btn-primary mr-1"
  [routerLink]="['base']"
  routerLinkActive="active"
>
  Base
</button>
<button
  type="button"
  class="btn btn-secondary mr-1"
  [routerLink]="['fundamental']"
  routerLinkActive="active"
>
  Fundamental
</button>
<!-- <button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button> -->
