<div class="row text-center">
  <div class="col">
    <h1>Home</h1>
    <h2> A pie :{{ operation }}</h2>
    <h2> Ngrx :{{ ngOperation }}</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button type="button" (click)="incrementar()" class="btn btn-dark mr-1">
      Increment
    </button>
    <button type="button" (click)="decrementar()" class="btn btn-dark mr-1">
      Decrement
    </button>
    <button type="button" (click)="ri()" class="btn btn-light mr-1">Reducer Increment</button>
    <button type="button" (click)="rd()" class="btn btn-light mr-1">Reducer Decrement</button>
  </div>
</div>

<hr />
<app-first-fun
  [param]="operation"
  (cambioOut)="operation = $event"
></app-first-fun>
