<header class="ae-container-fluid ae-container-fluid--full rk-header">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu" />
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo">
      <a [routerLink]="['/home']">urku portfolio<sup>tm</sup></a>
    </h1>
    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li class="rk-menu__item" routerLinkActive="active">
          <a [routerLink]="['/home']" class="rk-menu__link">Home</a>
        </li>

        <li class="rk-menu__item">
          <a [routerLink]="['/about']" class="rk-menu__link">Contact Us</a>
        </li>
      </ul>
      <form class="rk-search">
        <input
          type="text"
          placeholder="Search"
          id="urku-search"
          class="rk-search-field"
        />
        <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </form>
    </nav>
  </div>
</header>
