<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/img/A-64.png" width="30" height="30" alt="" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['secondOne']">Heroe</a>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="auth.loggedIn">
        <a class="nav-link" [routerLink]="['first']">First </a>
      </li>
      <li
        class="nav-item dropdown"
        routerLinkActive="active"
        *ngIf="auth.loggedIn"
      >
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          SpotyApp
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['wrapper']">Home</a>
          <a class="dropdown-item" [routerLink]="['wrapper/searchApp']"
            >Search</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['profile']">Profile</a>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active" *ngIf="auth.loggedIn">
        <a class="nav-link" [routerLink]="['style']">Style</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search heroes"
        aria-label="Search"
        (keyup.enter)="buscarNavBar(searchNavBar.value)"
        #searchNavBar
      />
      <button
        class="btn btn-outline-success my-2 my-sm-0 mr-1"
        type="button"
        (click)="buscarNavBar(searchNavBar.value)"
      >
        Search
      </button>
      <button
        *ngIf="!auth.loggedIn"
        (click)="auth.login()"
        class="btn btn-outline-primary my-2 my-sm-0 mr-1"
        type="button"
      >
        Log In
      </button>
      <button
        *ngIf="auth.loggedIn"
        (click)="auth.logout()"
        class="btn btn-outline-secondary my-2 my-sm-0 mr-1"
        type="button"
      >
        Log Out
      </button>
    </form>
  </div>
</nav>
