<section class="todoapp">
  <app-todo-add></app-todo-add>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" (click)="changeAll()" />

    <label for="toggle-all">Mark all as complete</label>
    <app-todo-list></app-todo-list>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <app-todo-footer></app-todo-footer>
</section>

<!-- Scripts here. Don't remove ↓ -->
<script src="node_modules/todomvc-common/base.js"></script>
<script src="js/app.js"></script>
