﻿@model FirstCoreApp.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1 class="text-center">Detail - User</h1>
<div class="row">
    <div class="col-12">
        <div class="float-right">
            <a asp-action="Index" asp-controller="Home" class="btn btn-info"> Back to List</a>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-12">
        <div class="card-body border">
            <div class="card-header">
                <h3> <strong>User Information</strong></h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Name: </strong> @Html.DisplayFor(m => m.Name)
                    </li>
                    <li class="list-group-item">
                        <strong>Phone: </strong> @Html.DisplayFor(m => m.Phone)
                    </li>
                    <li class="list-group-item">
                        <strong>Email: </strong> @Html.DisplayFor(m => m.Email)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


