﻿@model FirstCoreApp.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Edit - User</h1>
<div class="row">
    <div class="col-12">
        <div class="float-right">
            <a asp-action="Index" asp-controller="Home" class="btn btn-info"> Back to List</a>
        </div>
    </div>
</div>

<br />


<div class="row">
    <div class="col-12">
        <div class="card-body border">
            <div class="card-header">
                <h3> <strong>Edit User</strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <input type="hidden" value="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cel" class="control-label"></label>
                        <input asp-for="Cel" class="form-control" />
                        <span asp-validation-for="Cel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"> Update </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
