﻿@model IEnumerable<FirstCoreApp.Models.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Index - Users</h1>
<div class="row">
    <div class="col-12">
        <div class="float-right">
            <a asp-action="Create" asp-controller="Home" class="btn btn-success"> Create user </a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <div class="card-body border">
            <div class="card-header">
                <h3>User´s list</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered" id="tblUsers" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <td>@Html.DisplayNameFor(m => m.Name)</td>
                                    <td>@Html.DisplayNameFor(m => m.Phone)</td>
                                    <td>@Html.DisplayNameFor(m => m.Cel)</td>
                                    <td>@Html.DisplayNameFor(m => m.Email)</td>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(m => item.Name)</td>
                                        <td>@Html.DisplayFor(m => item.Phone)</td>
                                        <td>@Html.DisplayFor(m => item.Cel)</td>
                                        <td>@Html.DisplayFor(m => item.Email)</td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Select</a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                                        </td>
                                    </tr>
                                }
                            </tbody>


                        </table>
                    }
                    else
                    {
                        <p>List empty</p>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            $('#tblUsers').DataTable({

            });
        })

    </script>

}