<div class="row text-center">
  <div class="col">
    <h1>First</h1>
    <h2> A pie: {{ param }}</h2>
    <h2> Ngrx: {{ ngOperation }}</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button type="button" (click)="mult()" class="btn btn-dark mr-1">
      Mult
    </button>
    <button type="button" (click)="divi()" class="btn btn-dark mr-1">
      Divid
    </button>
    <button type="button" (click)="rm()" class="btn btn-light mr-1">Reducer multi</button>
    <button type="button" (click)="rd()" class="btn btn-light mr-1">Reducer dividir</button>
  </div>
</div>

<hr />
<app-second-fun
  [paramTwo]="param"
  (twoCambioOut)="propagarCambio($event)"
></app-second-fun>
