<footer class="footer" style="padding-bottom: 30px;">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"
    ><strong>{{ pendingItem }}</strong> item left</span
  >
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li *ngFor="let item of filters">
      <a
        (click)="filterSelected(item)"
        href="#/"
        [class.selected]="item == applyFilter"
        >{{ item | titlecase }}</a
      >
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
</footer>
