﻿@model BlogCore.Models.Item
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="container">

    <div class="card">
        <div class="card-header bg-light text-light ml-0 row container">
            <div class="col-12 col-md-6">
                <h4 class="text-primary">@Model.Name</h4>
            </div>
            <div class="col-12 col-md-6">
                <h4 class="text-primary">@Model.Creation</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="col-12">
                <img src="@Model.UrlImage" class="img-thumbnail mx-auto d-block" />
                <p class="text-secondary">@Html.Raw(Model.Description) </p>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <a asp-action="Index" class="btn btn-success"> Return </a>
                </div>
            </div>
        </div>
    </div>
</div>
