﻿@model BlogCore.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home Page";
}

@*Slider*@
<header>
    <div id="headSliders" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style=" width:100%; height: 500px !important;">
            @{ int cont = 0;
                @foreach (var s in Model.lstSlider)
                {
                    var dynamicIten = cont++ == 0 ? "active" : "";

                    <div class="carousel-item @dynamicIten">
                        <img src="@Url.Content(s.UrlImage)" style="width:100%; height:500px; border: solid 1px #CCC" />
                        <h1 class="text-dark text-center"> @Html.Raw(s.Name)</h1>
                    </div>
                }
            }
        </div>
        <a class="carousel-control-prev" href="#headSliders" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#headSliders" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>

        </a>
    </div>
</header>

<div class="row  mt-5">
    <div class="col-sm-12 py5">
        <h1 class="text-center text-dark"> Last products</h1>
    </div>
</div>

@if (Model.lstItem.Count() > 0)
{
    <hr />
    <div class="row">
        @foreach (var item in Model.lstItem.OrderBy(o => o.Id))
        {
            <div class="col-4">
                <div class="card">
                    <img src="@item.UrlImage" class="img-thumbnail" width="100%" />
                    <div class="card-body">
                        <h5 class="text-center"> @item.Name</h5>
                        <p>@item.Creation</p>
                        <a asp-action="Details" class="btn btn-success" style="border-radius:2px" asp-route-Id="@item.Id"> More information</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
<div>

</div>
