<app-loading *ngIf="loading"></app-loading>

<app-div-error *ngIf="error" [message]="errorMessage"></app-div-error>

<div class="card-columns">
  <app-spoti-card
    class="animated fadeIn"
    *ngFor="let item of newSongs"
    [titleCard]="item.name"
    [imgCard]="item.images[0].url"
    [bodyCard]="item.artists"
    [idArtist]="item | idArtist"
  ></app-spoti-card>
</div>
