<div (click)="viewArtist()" class="card puntero">
    <img [src]="imgCard" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{titleCard }}</h5>
      <p class="card-text">
        <span class="badge badge-primary" *ngFor="let subitem of bodyCard">{{subitem.name}}</span>        
      </p>
    </div>
  </div>