body {
  margin: 2rem;
  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 2rem;
  margin: 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: 'primary';
  cursor: pointer;
  transition: border-color 0.25s;
  
}
a{
  margin-right: 0.5rem;
}
