<app-loading *ngIf="loading"></app-loading>

<div class="row animated fadeIn" *ngIf="!loading">
  <div class="col-2">
    <img
      [src]="artist.images | validateImage"
      class="img-thumbnail img-circle"
    />
  </div>
  <div class="col">
    <h3>{{ artist.name }}</h3>
    <p>
      <a [href]="artist.external_urls.spotify" target="_blank"
        >Go to Artist page</a
      >
    </p>
  </div>
  <div class="col-4 text-right">
    <button routerLink="spotyApp" class="btn btn-outline-danger">
      Return
    </button>
  </div>
</div>

<div class="row m-5">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Album</th>
          <th>Song</th>
          <th>Preview</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of songs">
          <td>
            <img [src]="item.album.images | validateImage" class="img-thumb">
          </td>
          <td>{{ item.album.name }}</td>
          <td>{{ item.name }}</td>
          <td>
            <audio [src]="item.preview_url" controls></audio>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
