<app-header></app-header>
<div class="page-body-wrapper">
  <app-side-bar></app-side-bar>
  <div class="main-panel">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>
