<div class="container main-container">
  <h1>Demos <small>angular</small></h1>

  <p [style.fontSize.px]="sizeLetter">
    Hola mundo ... esta es una etiqueta
  </p>
  <button class="btn btn-primary mr-2" (click)="changeSize('+')">
    Plus <i class="fa fa-plus"></i>
  </button>
  
  <button class="btn btn-primary mr-1" (click)="changeSize('-')">
    Minus <i class="fa fa-minus"></i>
  </button>

  <hr />
  <br />
  <div [ngClass]="styleAlert" role="alert" class="alert">
    A simple alert with
    <a href="#" class="alert-link">an example link</a>. Give it a click if you
    like.
  </div>

  <button class="btn btn-success mr-1" (click)="changeAlert('0')">
    Succes
  </button>
  
  <button class="btn btn-danger mr-1" (click)="changeAlert('1')">
    Danger
  </button>
  
  <button class="btn btn-warning mr-1" (click)="changeAlert('2')">
    Warning
  </button>
  
  <button class="btn btn-info mr-1" (click)="changeAlert('3')">
    Info
  </button>

  <hr />
  <br />

  <h3>Proceso Asincrono</h3>
  <button
    class="btn btn-primary"
    type="button"
    name="btnStyle"
    (click)="ejectProcess()"
    [disabled]="loading"
  >
    <i
      class="fa"
      [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading }"
    ></i>
    <span *ngIf="!loading"> Save</span>
    <span *ngIf="loading"> In progress</span>
  </button>

  <hr />
  <br />

  <p appHighlight [colorExt]="'orange'">My Directive</p>
</div>
