﻿@model BlogCore.Models.Slider
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h3 class="text-center"> Create new slider</h3>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            @*Name*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <br />
            @*State*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="State"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" asp-for="State" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <br />
            @*UrlImage*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="UrlImage"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="fileImage" id="uploadFile" class="form-control" />
                    <label asp-for="UrlImage" class="text-danger">@Model.UrlImage</label>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <partial name="ViewCreateReturnPartial" />
                </div>
            </div>

        </div>
    </div>
</form>

