﻿@model BlogCore.Models.Slider
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h3 class="text-center"> Edit slider</h3>
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8 ">
            @*Name*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <br />
            @*State*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="State"></label>
                </div>
                <div class="col-8">
                    <input asp-for="State" type="checkbox" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <br />
            @*UrlImage*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="UrlImage"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="fileImage" id="uploadFile" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary" asp-route-id="@Model.Id" style="width:100%"> Update </button>
                            &nbsp;
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success" style="width:100%"> Return </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3">
            <img src="@Model.UrlImage" width="80%" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    </div>
</form>

